sudo: false

language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

before_install:
  - pip install --upgrade pip setuptools
  - pip install coveralls

install:
  - python setup.py sdist
  - pip install dist/astutils-*.tar.gz

script:
  - cd tests/
  - nosetests --with-coverage --cover-package=astutils

after_success:
  - coveralls
